# Secrets e ambiente
.env
.env.*
!.env.example
*.pem
*.key
*.tfvars
!*.tfvars.example
.terraform/
*.tfstate
*.tfstate.*

# Java / Maven / Gradle
target/
build/
.gradle/
*.class
*.jar
*.war
hs_err_pid*

# Node / React / Vite
node_modules/
dist/
.vite/
coverage/
*.tsbuildinfo
playwright-report/
test-results/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Docker
docker-compose.override.yml

# IDEs / SO
.idea/
*.iml
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
logs/
